.header__wrap {
  background: url(../img/header_bg.jpg) repeat-x center top;
  height: 310px;
  padding-bottom: 10px;
}

.header__top {
  display: flex;
  justify-content: flex-end;
}

.header__top-list {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
}

.header__middle {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.header__middle-text {
  padding: 8px;
  color: #fff;
}
.header__middle-text:nth-child(1) {
  background: #51b0dc;
  font-size: 30px;
  font-weight: 600;
}

.header__middle-text:last-child {
  background: #4a9abf;
  font-size: 18px;
  font-weight: 300;
  margin-top: -6px;
}

.header__icons {
  height: 158.5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__icons a {
  font-size: 35px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #3192bf;
  color: #fff;
  line-height: 60px;
}

.header__icons i {
  margin-left: 15px;
}
